@value sm-up, md-up from '@/app/css/breakpoints.module.css';

.block {
	position: relative;
	padding-top: calc(var(--top-header-h) + 30px);
	@mixin fluid-clamp padding-bottom, 20, 50;

	.title {
		@mixin h-m;
	}

	.copy {
		@mixin paragraph-m;
		@mixin fluid-clamp margin-top, 29, 77;
		max-width: 480px;
	}

	.image {
		@mixin fluid-clamp margin-top, 32, 92;
		aspect-ratio: 1312 / 767;

		img {
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 24px;
			transform-origin: 100% 0%;
		}
	}
}
