@value sm-up, md-up from '@/app/css/breakpoints.module.css';

.block {
	position: relative;

	.wrapper {
		@mixin fluid-clamp padding-block, 125, 300;
	}

	.titleWrapper {
		text-align: center;
	}

	.title {
		@mixin h-xl;
	}

	.titleLine {
		position: relative;
		display: block;

		&:nth-child(2) {
			z-index: 3;
		}
	}

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 70%) rotate(-6deg);
		aspect-ratio: 227 / 158;
		z-index: 2;
		@mixin fluid-clamp width, 227, 690;
		@mixin fluid-clamp border-radius, 10, 30;
	}
}
