@value sm-up, md-up, xl-up from '@/app/css/breakpoints.module.css';

@keyframes logos-scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

.block {
	position: relative;

	.wrapper {
		@mixin fluid-clamp padding-top, 80, 185;
		@mixin fluid-clamp padding-bottom, 40, 185;
		padding-inline: 0;

		@media (xl-up) {
			display: flex;
			flex-wrap: wrap;
			gap: 20px 60px;
			align-items: center;
			padding-inline: var(--wrapper-padding);
		}
	}

	.title {
		@mixin h-base;
		font-weight: 700;
		@mixin fluid-text 65, 200;
		text-align: center;

		.titleLine {
			--clip-path: 0 0, 0 0, 0 100%, 0% 100%;
			display: block;
			clip-path: polygon(var(--clip-path));
		}

		@media (xl-up) {
			display: contents;

			> span {
				&:nth-child(1) {
					order: 1;
				}

				&:nth-child(2) {
					order: 4;
					margin-left: auto;
				}
			}
		}
	}

	.copy1 {
		@mixin fluid-text 18, 16;
		line-height: 1.6;
		margin: 38px auto 0;
		padding-inline: 20px;
		text-align: center;
		max-width: 360px;

		@media (xl-up) {
			margin: 0;
			align-self: flex-end;
			text-align: left;
			padding: 0;
			order: 2;
			max-width: 270px;
			margin-bottom: 15px;
		}
	}

	.logosWrapper {
		--gap: 50px;
		position: relative;
		margin-top: 55px;
		display: flex;
		flex-wrap: nowrap;
		min-width: 0;
		overflow: hidden;

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 0;
			height: 100%;
			width: 60px;
			z-index: 1;
		}

		&:before {
			left: 0;
			background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%);
		}

		&:after {
			right: 0;
			background: linear-gradient(270deg, #000 0%, rgba(0, 0, 0, 0) 100%);
		}

		.logos {
			display: flex;
			flex-wrap: nowrap;
			gap: var(--gap);
			flex-shrink: 1;
			padding-right: var(--gap);
			animation: logos-scroll calc(var(--cols) * 4s) linear infinite;

			img {
				max-width: none;
				@mixin fluid-clamp height, 30, 40;
				width: auto;
				flex-shrink: 1;
				object-fit: contain;
			}
		}

		@media (xl-up) {
			order: 3;
			@mixin fluid-clamp max-width, 490, 620, 1230, 1512;
			margin: 0;
			flex-grow: 1;
		}
	}

	.textWithImageWrapper {
		padding-bottom: 80px;
		position: relative;

		.image {
			margin-left: calc(var(--wrapper-padding) * -1);
			width: 80%;
			max-width: 400px;

			img {
				aspect-ratio: 240 / 310;
			}
		}

		.content {
			margin-top: 55px;
		}

		.copy {
			@mixin paragraph-l;
			max-width: 535px;
		}

		.button {
			margin-top: 70px;
		}

		@media (md-up) {
			display: flex;
			@mixin fluid-clamp margin-bottom, 40, 230, 960, 1512;

			.image {
				position: absolute;
				top: 0;
				left: 0;
				margin-left: 0;
				width: 40%;
				max-width: none;
				aspect-ratio: 635/820;
			}

			.content {
				@mixin fluid-clamp width, 440, 645, 960, 1512;
				margin-left: auto;
				@mixin fluid-clamp min-height, 320, 420, 960, 1512;
			}
		}
	}
}
