@import "./reset.css";
@import "./typography.css";

html,
body {
	padding: 0;
	margin: 0;

	&.scroll-disable {
		overflow: hidden;
	}
}

body {
	--black: #000000;
	--off-black: #0a0a0a;
	--white: #ffffff;
	--off-white: #f5f5f6;
	--hot-pink: #ff00c8;
	--purple: #9340ff;
	--blue: #3bcdd2;
	--de-emphasis-grey: #808080;
	--ui-accent-grey: #808080;
	--top-header-h: 124px;

	font-family: var(--dm-sans);
	background-color: var(--black);
	color: var(--white);
	line-height: 1.5;
	user-select: none;
	max-width: 100%;
	font-size: 14px;
	transition: 0.4s ease-in-out;
	transition-property: color, background-color;

	.light-scheme & {
		color: var(--black);
		background-color: var(--white);
	}

	@media (min-width: 768px) {
		font-size: 16px;
	}

	@media (min-width: 960px) {
		--top-header-h: 160px;
	}
}

.clearfix {
	position: relative;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

video,
img {
	max-width: 100%;
	display: block;
	object-fit: cover;
	user-select: none;
}

button,
input[type="button"],
input[type="submit"] {
	color: inherit;
}

a {
	color: inherit;
}

.react-parallax {
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.react-parallax-background-children {
	width: 100%;
	height: 135%;
}

.react-parallax-background {
	height: 100%;

	img {
		height: 100%;
	}
}

#smooth-content {
	/* will-change: transform; */
}

.grecaptcha-badge {
  visibility: hidden !important;
}

[data-cursor] {
	cursor: none;
}
