.cursorButton {
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: var(--purple);
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	pointer-events: none;
	transition: transform 0.1s ease;
	z-index: 10;
}