@value sm-up, md-up from '@/app/css/breakpoints.module.css';

.block {
	position: relative;
	@mixin fluid-clamp margin-block, 80, 225;

	.wrapper {
	}

	.subTitle {
		@mixin sub-title;
		justify-content: center;
	}

	.title {
		@mixin h-xl;
		text-align: center;
	}

	.items {
		position: absolute;
		top: 50%;
		left: var(--wrapper-padding);
		width: calc(100% - var(--wrapper-padding) * 2);

		@media (md-up) {
			grid-template-columns: repeat(3, 1fr);
			display: grid;
			gap: 80px;
		}
	}

	.item {
		position: absolute;
		top: 0;
		left: 50%;
		@mixin fluid-clamp border-radius, 24, 40;
		@mixin fluid-clamp width, 225, 385, 375, 960;
		overflow: hidden;
		background: #000;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 60%;
			background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.8) 100%
			);
			z-index: 1;
		}

		img {
			aspect-ratio: 384 / 485;
		}

		.content {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			@mixin fluid-clamp padding, 22, 30;
			text-align: center;
			z-index: 2;
			color: var(--white);
		}

		.name {
			@mixin h-base;
			font-weight: 700;
		}

		.post {
			@mixin paragraph-s;
			margin-top: 3px;
		}

		@media (md-up) {
			position: relative;
			left: 0;
			width: auto;
		}
	}
}
