@value sm-up, md-up from '@/app/css/breakpoints.module.css';

.block {
	position: relative;
	@mixin fluid-clamp padding-block, 45, 100;

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
	}

	.title,
	.smallTitle {
		margin-right: auto;
		flex: 1;
	}

	.title {
		@mixin h-base;
		font-size: 60px;
	}

	.smallTitle {
		@mixin paragraph-xl;

		+ .content {
			max-width: 645px;
		}
	}

	.content {
		flex-grow: 1;
		max-width: 755px;
	}

	.copy {
		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}

		p {
			margin: 20px 0;
			min-height: 0.6em;
		}

		p:not([class^="paragraph"]) {
			@mixin paragraph-m;
		}

		ol {
			@mixin ol-styled;
		}
	}

	.button {
		@mixin fluid-clamp margin-top, 30, 50;
	}

	@media (md-up) {
		.image {
			order: initial;
		}
	}
}
