@value sm-up, md-up from '@/app/css/breakpoints.module.css';

.block {
	position: relative;
	@mixin fluid-clamp padding-block, 80, 150;

	.wrapper {
	}

	.subTitle {
		@mixin sub-title;
	}

	.title {
		@mixin h-base;
		@mixin fluid-text 80, 160;
		text-align: center;
	}

	.items {
		display: flex;
		@mixin fluid-clamp gap, 16, 25;
		@mixin fluid-clamp margin-top, 45, 50;
	}

	.item {
		min-width: 300px;

		&.purple .itemInner {
			background-color: var(--purple);
		}

		&.pink .itemInner {
			background-color: var(--hot-pink);
		}

		&.teal .itemInner {
			background-color: #3bcdd2;
		}
	}

	.itemInner {
		position: relative;
		@mixin fluid-clamp border-radius, 24, 32;
		@mixin fluid-clamp padding-block, 30, 40;
		@mixin fluid-clamp padding-inline, 23, 30;
		color: var(--black);
		overflow: hidden;
		background-color: var(--purple);
		position: relative;
		z-index: 1;
		@mixin transition scale;

		&:hover {
			scale: .95;
		}
	}

	.itemTitle {
		@mixin fluid-text 32, 40;
		font-weight: 700;
		line-height: 1.6;
	}

	.itemTags {
		display: flex;
		flex-wrap: wrap;
		@mixin fluid-clamp gap, 6, 8;
		@mixin fluid-clamp margin-bottom, 18, 24;
	}

	.itemTag {
		@mixin fluid-text 12, 14;
		line-height: 1.6;
		@mixin fluid-clamp padding-inline, 7, 10;
		border-radius: 20px;
		border: 1px solid;
	}

	.itemImage {
		img {
			aspect-ratio: 337 / 254;
		}
	}

	.itemLink {
		@mixin fill;
	}
}
