@value sm-up, md-up from '@/app/css/breakpoints.module.css';

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: var(--black);
	will-change: transform;
	display: flex;
	pointer-events: none;

	&.loaded {
		transform: translateY(-100%);
	}

	.wrapper {
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
		padding-bottom: var(--top-header-h);
		margin-top: auto;
	}

	.wrapperInner {
		position: relative;
		width: 100%;
		max-width: 920px;
	}

	.title {
		@mixin h-l;
		font-weight: 900;
	}

	.titleLine {
		display: block;
		overflow: hidden;
		padding-bottom: 0.2em;
		margin-bottom: -0.2em;

		span {
			display: block;
			transform: translateY(-100%);
		}
	}

	.logo {
		position: absolute;
		bottom: 10px;
		right: -30px;
		overflow: hidden;
		padding-right: 30px;
		padding-left: 10px;
		max-width: 35vw;

		img {
			display: block;
			transform: translateX(calc(-100% - 10px));
		}
	}
}
