@value sm-up, md-up from '@/app/css/breakpoints.module.css';

.SwiperArrows {
	display: flex;
	align-items: center;
	gap: 10px;

	button {
		position: relative;
		display: flex;
		width: 50px;
		aspect-ratio: 1/1;
		border: 1px solid var(--blue-400);
		border-radius: 50%;
		transition: 400ms ease-in-out;
		transition-property: background, border-color;
		z-index: 1;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			transform: scale(0);
			background: var(--blue-400);
			transition: transform 400ms ease-in-out;
			z-index: -1;
		}

		&[aria-disabled="true"] {
			opacity: 0;
		}

		svg {
			display: block;
			margin: auto;
			width: 10px;
		}

		&:hover {
			&:before {
				transform: scale(1);
			}
		}

		@media (md-up) {
			width: 80px;

			svg {
				width: 18px;
			}
		}
	}

	&.filled button:not(:hover) {
		background: var(--blue-400);
	}
}
