@value sm-up, md-up from '@/app/css/breakpoints.module.css';

.block {
	position: relative;
	height: 200vh;

	.blockInner {
		display: flex;
		min-height: 100vh;
		padding: var(--top-header-h) 0;
	}

	.wrapper {
		margin: auto;
	}

	.imagePlaceholder {
		position: relative;
		display: inline-block;
		aspect-ratio: 282/175;
		border-radius: 0.1em;
		width: 1.41em;
		margin: 0 0.1em;
		top: 0.075em;
	}

	.title {
		@mixin h-base;
		line-height: 1;
		text-align: center;
		@mixin fluid-text 55, 200;

		@media (min-aspect-ratio: 1422/888) {
			@mixin fluid-text 55, 200, 300, 950, 100vh;
		}

		> span {
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;
			> span {
				display: inline-block;
			}
		}
	}
}

.media {
	--border-radius: 0;
	position: absolute;
	top: calc(100% - 100vh);
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	transform-origin: 0 0;
	border-radius: var(--border-radius);

	.mediaInner {
		@mixin fill;
	}

	img,
	.vimeoVideo {
		position: absolute;
		top: 50% !important;
		left: 50% !important;
		transform: translate(-50%, -50%);
		min-width: 100%;
		min-height: 100%;
		height: auto !important;
		width: auto !important;
		aspect-ratio: 16/9;
		max-width: none;
	}

	.vimeoVideo {
		iframe {
			pointer-events: none;
		}
	}

	@media (orientation: portrait) {
		height: auto;
		aspect-ratio: 16/9;

		img,
		.vimeoVideo {
		}
	}
}
