@value sm-up, md-up from '@/app/css/breakpoints.module.css';

.block {
	position: relative;
	height: 400vh;
	overflow: hidden;
	@mixin fluid-clamp margin-bottom, 65, 180;

	.videoContainer {
		display: flex;
		height: 100vh;

		video {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
