@value sm-up, md-up from '@/app/css/breakpoints.module.css';

.label {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
	margin-top: 40px;
	font-weight: inherit;
	gap: 10px;
	align-items: flex-end;

	h5 + &,
	&:first-child {
		margin-top: 0;
	}

	@media (lg-up) {
		margin-bottom: 10px;
		margin-top: 50px;
	}
}

.buttonGroup {
	display: flex;
	flex-wrap: wrap;
	gap: 10px 6px;

	label {
		display: block;
		position: relative;

		input {
			position: absolute;
			left: -9999px;

			&:checked {
				~ span {
					background: var(--blue-600);
					color: #fff;
				}
			}
		}

		span {
			position: relative;
			display: flex;
			border-radius: 70px;
			border: 1px solid var(--stroke-outline);
			background: #fff;
			height: 40px;
			padding: 15px 25px;
			align-items: center;
			cursor: pointer;
			overflow: hidden;
			transition: 400ms ease-in-out;
			transition-property: color, background;
			justify-content: center;
			user-select: none;
		}
	}

	&.alt {
		display: grid;
		gap: 10px 6px;

		label {
			span {
				height: 68px;
				border-color: var(--blue-600);
				background: #fff;
			}
		}

		@media (sm-up) {
			grid-template-columns: 1fr 1fr;
		}
	}
}

.textInput input,
.phoneInput input,
.emailInput input[type="email"],
.uploadInput span,
.textAreaInput textarea,
.selectToggle {
	position: relative;
	display: flex;
	font-size: 14px;
	border-radius: 4px;
	border: 1px solid var(--stroke-outline);
	background: #fff;
	height: 50px;
	white-space: nowrap;
	padding: 8px 15px;
	color: inherit;
	align-items: center;
	appearance: none;
	outline: none;
	font-family: inherit;
	transition: border-color 400ms ease-in-out;
	width: 100%;

	&::placeholder {
		color: rgba(0, 41, 59, 0.6);
	}

	&:focus,
	&:user-valid {
		border-color: var(--blue-400);
	}

	&:user-invalid {
		border-color: #ff3636;
	}
}

.textInput.error input,
.phoneInput.error input,
.emailInput.error input[type="email"],
.uploadInput.error span,
.textAreaInput.error textarea,
.selectToggle.error {
	border-color: #ff3636;

	&:focus {
		border-color: #ff3636;
	}
}

.uploadInput {
	margin-bottom: 10px;

	label {
		display: block;
	}

	input {
		position: absolute;
		left: -9999px;

		&[data-selected="true"] ~ span svg {
			circle {
				fill: #4ae095;
				opacity: 1;
			}

			path {
				fill: currentColor;
			}
		}
	}

	span {
		padding-right: 40px;

		svg {
			position: absolute;
			top: 50%;
			right: 0;
			width: 31px;
			transform: translateY(-50%);

			circle {
				opacity: 0.1;
				transition: 400ms ease-in-out;
				transition-property: opacity, fill;
			}

			path {
				transition: fill 400ms ease-in-out;
			}
		}
	}
}

.textInput,
.phoneInput,
.emailInput,
.textAreaInput,
.selectToggle {
	position: relative;

	input,
	textarea {
		&::placeholder {
			color: currentColor;
		}
	}
}

.emailInput {
	label {
		position: relative;
		display: flex;
		gap: 8.5px;
		margin-top: 25px;
		user-select: none;
		align-items: center;

		input {
			position: absolute;
			left: -9999px;

			&:checked ~ i:before {
				opacity: 1;
			}
		}

		i {
			position: relative;
			width: 16px;
			height: 16px;
			min-width: 16px;
			border: 1px solid #d9d9d9;
			display: flex;
			align-items: center;
			justify-content: center;

			&:before {
				content: "";
				display: block;
				width: 5.2px;
				height: 5.2px;
				background: #d9d9d9;
				transition: opacity 300ms ease-in-out;
				opacity: 0;
			}
		}

		span {
			font-weight: 200;
			font-size: 13px;
		}
	}
}

.textAreaInput {
	textarea {
		height: 100px;
		padding-top: 12px;
		resize: none;
	}

	@media (sm-up) {
		textarea {
			height: 145px;
		}
	}
}

.select {
	position: relative;

	input {
		position: absolute;
		left: -9999px;
	}
}

.selectToggle {
	gap: 30px;
	cursor: pointer;

	span {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		flex: 1;
		text-align: left;
	}

	svg {
	}
}

.selectList {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	margin-top: 10px;
	z-index: 10;
	border: 1px solid var(--blue-400);
	background: #fff;
	user-select: none;
	max-height: 300px;
	overflow-y: auto;
	font-size: 14px;
	border-radius: 4px;
	padding: 10px 0;
	scrollbar-width: none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}

	li {
		padding: 10px 30px;
		cursor: pointer;
		transition: 400ms ease-in-out;
		transition-property: background, color;

		&:nth-child(odd) {
			//background: var(--text-color);
		}

		&[data-current="true"],
		&:hover {
			color: var(--accent-blue);
		}
	}

	@media (sm-up) {
		padding: 15px 0;

		li {
			padding: 10px 25px;
		}
	}
}

.consent {
	position: relative;

	input {
		position: absolute;
		top: 0;
		left: -9999px;

		&:checked ~ {
			i:before {
				opacity: 1;
			}
		}
	}

	label {
		display: flex;
		gap: 6px;
		align-items: center;
		cursor: pointer;
		user-select: none;
	}

	i {
		position: relative;
		width: 24px;
		min-width: 24px;
		border: 1px solid var(--stroke-outline);
		aspect-ratio: 1/1;
		border-radius: 50%;
		background: #fff;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 12px;
			border-radius: 50%;
			transform-origin: 50% 50%;
			transform: translate(-50%, -50%);
			aspect-ratio: 1/1;
			opacity: 0;
			transition: opacity 400ms ease-in-out;
			background: var(--blue-600);
		}
	}

	a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&.error i {
		border: 1px solid #ff3636;
	}

	@media (sm-up) {
	}
}

.errorMessage {
	margin-top: 2px;
	font-size: 12px;
	color: #ff3636;
	opacity: 0;
	text-align: right;
	transition: opacity 400ms ease-in-out;

	&.enter {
		opacity: 1;
	}
}
