@value sm-up, md-up from '@/app/css/breakpoints.module.css';

.block {
	position: relative;

	.wrapper {
		display: flex;
		gap: 35px;
		flex-wrap: wrap;
		padding-right: 0;
		align-items: flex-end;

		@media (md-up) {
			flex-wrap: nowrap;
		}
	}

	.content {
		position: relative;
		flex-grow: 1;
	}

	.image {
	}

	.subTitle {
		@mixin sub-title;
		justify-content: flex-start;
	}

	.title {
		@mixin h-base;
		@mixin fluid-text 80, 160;
	}

	.titleLine {
		--clip-path: 0 0, 0 0, 0 100%, 0% 100%;
		display: block;
		clip-path: polygon(var(--clip-path));
	}

	.buttons {
		display: flex;
		@mixin fluid-clamp gap, 8, 12;
		@mixin fluid-clamp margin-top, 15, 35;
		overflow: hidden;
		overflow-x: auto;
		padding-inline: var(--wrapper-padding);
		margin-left: calc(var(--wrapper-padding) * -1);
		scrollbar-width: none;
		-ms-overflow-style: none;

		&::-webkit-scrollbar {
			display: none;
		}

		@media (md-up) {
			position: absolute;
			top: 100%;
			left: 0;
		}
	}

	.button {
		@mixin button-reset;
		@mixin fluid-text 12, 14;
		@mixin fluid-clamp padding-block, 8, 10;
		@mixin fluid-clamp padding-inline, 10, 12;
		line-height: 1.2;
		border: 1px solid;
		border-radius: 40px;
		@mixin transition-three color, background-color, border-color;
		flex-shrink: 0;

		&[data-active],
		&:hover {
			background-color: var(--accent-color);
			color: var(--black);
			border-color: var(--accent-color);
		}

		&[data-active] {
			pointer-events: none;
		}

		[data-label] {
			position: relative;
			display: block;
			overflow: hidden;

			span,
			&:before {
				display: block;
				@mixin transition transform;
			}

			&:before {
				content: attr(data-label);
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		&:hover [data-label] {
			span,
			&:before {
				transform: translateY(-100%);
			}
		}
	}

	.image {
		margin-left: auto;
		@mixin fluid-clamp width, 240, 415;

		img {
			aspect-ratio: 1/1;
		}
	}
}
